/* App.css */
:root {
  color-scheme: light;

  --background: #cfefff;
  --screen: #cfefff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background: var(--screen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Header */
.header {
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: #174a7a;
}

p {
  font-size: 1.3rem;
  color: #2b5f91;
  padding-top: 20px;
}

/* Task card */
.taskDisplay {
  min-height: 10px;
  font-size: 1.8rem;
  color: #174a7a;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 15px;
  text-overflow: ellipsis;
}

.taskCard {
  width: 320px;
  height: 90px;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* Buttons */
.playButton,
.doneButton {
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #33699b;
}

.playContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  transition: opacity 0.2s ease;
  font-size: 2.6rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #174a7a;
}

.playButton:disabled {
  opacity: 0.3;
  cursor: default;
}

.doneButton {
  font-size: 3.3rem;
}

/* Animations */
@keyframes cardPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.taskCard.pop {
  animation: cardPop 0.3s ease;
}

/* Working screen */
.workingScreen {
  width: 100vw;
  height: 100vh;
  background: var(--screen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Editor screen */
.editorScreen {
  width: 100vw;
  height: 100vh;
  background: var(--screen);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.editorScreen h1 {
  margin-bottom: 30px;
  color: #174a7a;
}

textarea {
  width: 90%;
  max-width: 500px;
  height: 300px;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 12px;
  border: none;
  resize: none;
  outline: none;
}

.doneEditing {
  margin-top: 25px;
  padding: 12px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background: #174a7a;
  color: white;
  cursor: pointer;
}

.gearButton {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}